# Local SNAP configuration template
# Copy this file to .env and adjust values for your machine.

# SNAP installation root (default: C:\Program Files\esa-snap)
SNAP_HOME=your_path_to_snap

# Amount of ram alocated to run gpt (default: 4G)
SNAP_MEMORY=4G


